@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --headings: #333333;
    --text: #666666;
    --violet: #d2d2f9;
    --tirkiz: #ccfcff;
    --orange: #ffe3d3;
    --pink: #ffe5f9;
    --gray: #e8e8fc;
    --blue: #1c1ce1;
    --lightblue: #e1fefa;
    --lightgray: #fcfcfc;
    --fontSize: 16px;
    --padding: 50px 0;
    --transition: .3s ease;
    --fontFamily: 'Roboto', sans-serif;
    --fontSize: 16px;
}

/*********
basic style
**********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    color: var(--text);
    line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headings);
}

.container {
    max-width: 1504px;
    margin: auto;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

li:hover i,
li:hover a {
    color: var(--blue);
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

button {
    padding: 10px;
    font-size: rem;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    letter-spacing: 1px;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.btnTransparent {
    background: transparent;
    border: 1px solid var(--headings);
}

.btnTransparent:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
    box-shadow: 3px 3px var(--violet);

}

.btnBlue {
    background: var(--blue);
    font-size: 300;
    color: white;
    border: 1px solid var(--blue);
    transition: .1s ease;
    margin-right: 10px;
}

.btnBlue:hover {
    border: 1px solid var(--blue);
    box-shadow: 3px 3px var(--violet);
    opacity: .9;
}

/***nav***/
nav {
    border-bottom: 1px solid var(--gray);
    padding: 10px 20px 10px 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #515151;
    font-weight: 400;
}

nav ul li a i {
    color: #b2b2b2;
}

nav input {
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 15px;
}

nav form i {
    position: relative;
    left: -30px;
}

nav article a {
    color: var(--headings);
    margin-left: 20px;
}

nav article i {
    font-size: 1.3rem;
}

nav article a:hover {
    color: var(--blue);
}

nav article a:last-child i {
    margin-right: 10px;
    color: var(--text);
}

nav article a:last-child:hover .fa-globe {
    color: var(--blue);
    transform: scale(1.3);
    transition: var(--transition);
    transform-origin: right center;
}

/***header***/
header {
    background-image: url(img/hero.png);
    background-position: center;
    background-size: cover;
    height: 440px;
}

/***welcome***/
.welcome {
    text-align: center;
    padding: var(--padding);
}

.welcome h4 {
    font-weight: 300;
    margin-bottom: 30px;
}

.welcome h1 {
    font-size: 2.5rem;
}

.welcome p {
    padding: 30px;
    font-size: 1.2rem;
}

/***getstarted***/
.getstarted {
    padding: var(--padding);
    background: var(--lightgray);

}

.getstarted img {
    width: 100%;
}

.getstarted article {
    flex: 0 0 48%;
}

.getstarted article:first-child {
    padding: 120px;
}

.getStarted p {
    font-size: 1.2rem;
    line-height: 1.9rem;
}

/***cards***/
.cards {
    padding: 50px;
    background: var(--lightgray);
    border-bottom: 1px solid var(--headings);

}

.cards a {
    flex: 0 0 49%;
    border: 1px solid var(--headings);
    box-shadow: 4px 4px var(--violet);
    transition: .1s ease-in-out;
    min-height: 400px;
    margin-bottom: 30px;
    overflow: auto;
}

.cards a:hover {
    box-shadow: 0 0 30px lightgray;
    transform: scale(102%);
    border-radius: 3px;
    background: #f7f7f7;
}

.cards article .img {
    background: rgba(0, 0, 0, 0) radial-gradient(46.28% 66.31% at 66.95% 58.35%, rgb(230, 230, 247) 0%, rgb(231, 237, 250) 50%, rgb(233, 251, 250) 100%) repeat scroll 0% 0%;
    min-height: 260px;
}

.cards .text {
    padding: 30px;
}

.cards h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cards p {
    color: var(--text);
    font-weight: 400;
}

/***colors***/
.colors {
    border-bottom: 1px solid var(--headings);
    padding: var(--padding);
}

.colors img {
    width: 100%;
}

.colors article {
    flex: 0 0 50%;
}

.tirkiz {
    background: var(--tirkiz);
}


.colors .text {
    padding: 100px;
}

.colors h2 {
    font-family: serif;
    font-weight: 600;
}

.colors p {
    padding-bottom: 20px;
    font-size: 1.2rem;
}

/***orange***/

.orange {
    background: var(--orange);
}

.colors:nth-child(odd) .text {
    order: -1;
}

/***lightblue***/
.lightblue {
    background: var(--lightblue);
}

/***pink***/
.pink {
    background: var(--pink);
}

/***violet***/
.violet {
    background: var(--gray);
}